@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&display=swap");

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    margin: 0px auto;
    padding: 0px;
    background-color: #000000;
    background-image: url("../img/background/main-background.png");
    background-position: center top;
    background-repeat: no-repeat;
    font-family: "PT Sans Narrow", sans-serif;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    padding: 0px 100px;
    margin-bottom: 55px;
}

.menu > ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.menu > ul > li{
    display: flex;
    position: relative;
}

.menu > ul > li::before{
    content: "";
    position: absolute;
    right: 20px;
    left: 20px;
    bottom: 0px;
    height: 5px;
    opacity: 0;
    background-color: #FFFFFF;
    transition: opacity 0.5s ease-in-out;
}

.menu > ul > li:first-child::before, .menu > ul > li:hover::before{
    opacity: 1;
}

.menu > ul > li > a{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    white-space: pre;
    color: #FFFFFF;
    padding: 25px 20px;
    transition: background-color 0.5s ease-in-out;
}

.menu > ul > li > a:hover{
    background-color: #202020;
}

.login{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.login > a{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    color: #FFFFFF;
    margin-left: 15px;
    padding: 25px 20px;
    transition: background-color 0.5s ease-in-out;
}

.login > a:hover{
    background-color: #202020;
}

.fa-custom-modify{
    font-size: 20px;
    color: #404040;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.info-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    margin-top: 15px;
    margin-bottom: 100px;
}

.info-card-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-card-block > h1{
    font-size: 30px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.r-square{
    width: 20px;
    height: 20px;
    background-color: #FFFFFF;
    transform: rotate(45deg);
    margin-bottom: 30px;
}

.info-card-block > p{
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    line-height: 24px;
    color: #FFFFFF;
    padding: 0px 25px;
}

.info-card-block:nth-child(1), .info-card-block:nth-child(2){
    margin-right: 25px;
}

.news-gallery{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url("../img/decorate/block-texture.png");
    padding: 50px 80px;
    margin-bottom: 25px;
}

.contacts-signup{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url("../img/decorate/block-texture.png");
    padding: 50px 80px;
}

.footer{
    background-image: url("../img/decorate/footer-texture.png");
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}