@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&display=swap");

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    margin: 0px auto;
    padding: 0px;
    background-color: #000000;
    background-image: url("../img/background/main-background.png");
    background-position: center top;
    background-repeat: no-repeat;
    font-family: "PT Sans Narrow", sans-serif;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin-bottom: 64px;
}

.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
}

.menu > ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.menu > ul > li{
    display: flex;
    position: relative;
}

.menu > ul > li::before{
    content: "";
    background-color: #FFFFFF;
    position: absolute;
    right: 20px;
    bottom: 0px;
    left: 20px;
    height: 5px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.menu > ul > li:first-child::before, .menu > ul > li:hover::before{
    opacity: 1;
}

.menu > ul > li > a{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    white-space: pre;
    color: #FFFFFF;
    padding: 25px 20px;
    transition: background-color 0.5s ease-in-out;
}

.menu > ul > li > a:hover{
    background-color: #202020;
}

.login{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.login > a{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    color: #FFFFFF;
    margin-left: 15px;
    padding: 25px 20px;
    transition: background-color 0.5s ease-in-out;
}

.login > a:hover{
    background-color: #202020;
}

.fa-custom-modify{
    font-size: 20px;
    color: #404040;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1000px;
}

.info-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    margin-top: 32px;
    margin-bottom: 100px;
}

.info-card-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info-card-block > h1{
    text-transform: uppercase;
    font-size: 30px;
    color: #FFFFFF;
}

.r-square{
    background-color: #FFFFFF;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    margin-top: 20px;
    margin-bottom: 32px;
}

.info-card-block > p{
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 0px 25px;
}

.news-gallery{
    background-image: url("../img/decorate/block-texture.png");
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    padding: 50px 80px;
    margin-bottom: 32px;
}

.news-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 333px;
}

.news-block > button{
    background-color: #000000;
    border: none;
    text-transform: uppercase;
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    padding: 15px 35px;
}

.news-block > h1{
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 32px;
}

.news-info > p:nth-child(1){
    text-transform: uppercase;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 5px;
}

.news-info > p:nth-child(2){
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-bottom: 32px;
}

.gallery-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery-block > h1{
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 32px;
}

.gallery-block > img{
    padding: 1px;
    border: 3px solid #000000;
}

.slider-btn{
    margin-top: 50px;
}

button{
    background-color: #000000;
    border: none;
    text-transform: uppercase;
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    width: 150px;
    height: 50px;
}

button:disabled{
    background-color: rgba(0, 0, 0, 0.4);
    border: none;
    text-transform: uppercase;
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    width: 150px;
    height: 50px;
}

.contacts-signup{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-image: url("../img/decorate/block-texture.png");
    width: 1000px;
    padding: 50px 80px;
    margin-bottom: 32px;
}

.contacts-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 333px;
}

.contacts-info > h1{
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 32px;
}

.signup-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 400px;
}

.address-info > p{
    text-transform: uppercase;
    font-size: 14px;
}

.address-info > p:last-child{
    margin-bottom: 32px;
}

.work-time > p{
    text-transform: uppercase;
    font-size: 14px;
}

.work-time > p:last-child{
    margin-bottom: 60px;
}

.signup-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 300px;
}

.signup-block > h1{
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 32px;
}

.signup-block > p{
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 32px;
}

.signup-form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 32px;
}

.signup-form > input[type="text"]{
    outline: none;
    background-color: transparent;
    border: 2px solid #000000;
    font-family: "PT Sans Narrow", sans-serif;
    width: 140px;
    height: 40px;
    margin-bottom: 20px;
    margin-right: 20px;
    padding-left: 10px;
}

.signup-form > input[type="text"]::placeholder{
    text-transform: uppercase;
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 14px;
    color: #000000;
}

.signup-form > input[type="text"]:focus{
    border-color: #663D15;
    font-family: "PT Sans Narrow", sans-serif;
    color: #000000;
    padding-left: 10px;
}

.signup-form > input[type="text"]:nth-child(2), .signup-form > input[type="text"]:nth-child(4){
    margin-right: 0px;
}

.signup-form > input[type="text"]:nth-child(3), .signup-form > input[type="text"]:nth-child(4){
    margin-bottom: 0px;
}

.footer{
    background-image: url("../img/decorate/footer-texture.png");
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
}

.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 1000px;
    padding: 36px 5px;
}

.f-address-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.social-block, .developer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fa-icon-modify{
    font-size: 25px;
    color: #FFFFFF;
    background-color: #000000;
    padding: 10px;
    margin-right: 10px;
    text-decoration: none;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.fa-icon-modify:last-child{
    margin-right: 0px;

}

.fa-icon-modify:hover{
    background-color: #D3D3D3;
    color: #000000;
}

.f-address-info > p{
    text-transform: uppercase;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}


.social-block > h1, .developer > h1{
    text-transform: uppercase;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.f-address-info > a{
    color: #FFFFFF;
}

.author{
    font-size: 25px;
    color: #FFFFFF;
    background-color: #000000;
    padding: 10px;
}